ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation li {
	float: left;
}

.navigation ul {
	float: right;
}

.signin {
	background-color: #4486F9;
	color: white;
	border-radius: 1px;
	padding: 7px 14px;
	font-weight: 600;
}

.googleapps {
	background-image: url(http://icon-icons.com/icons2/933/PNG/512/show-apps-button_icon-icons.com_72551.png);
	display: block;
	width: 1px;
	height: 1px;
	margin: 7px 22px 0px 18px;
	background-size: contain;
}

a {
	display: block;
	padding: 8px;
	color: #727272;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
}

.navigation {
	width: 100%;
	padding: 1px;
}

.navbuttons {
	margin-right: 20px;
}

.logo {
	display: block;
	margin: auto;
	margin-top: 180px;
}

.searchbarbox {
	
}

.searchbar {
	display: block;
	margin: auto;
	margin-top: 25px;
	width: 550px;
	padding-top: 25px;
	border-radius: 2px;
	border: thin solid #F2F2F2;
	-moz-box-shadow: 0px 1px 2px 0px silver;
    -webkit-box-shadow: 0px 1px 2px 0px silver;
    box-shadow: 0px 1px 2px 0px silver;
}

.searchbuttons {
	margin: auto;
	width: 262px;
	margin-top: 30px;
}

.googlesearch .imfeelinglucky {
	display: block;
	margin: auto;
}

.googlesearch {
	float: left;
}

.imfeelinglucky {
	float: right;
}

.searchbuttons input {
	background-color: #F2F2F2;
	border: none;
	border-radius: 2px;
	font-size: 13px;
	padding: 11px 17px 11px 17px;
}

.footer {
	background-color: #F2F2F2;
	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	border: 1px solid #E4E4E4;
	padding-top: 7px;
}

.footerbuttons {
	margin-right: 20px;
	margin-left: 20px;
}

.footerbuttons li {
	padding: 0px 8px 0px 8px;
}

.footer .l {
	float: left;
}

.footer .r {
	float: right;
}